# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

# Charging
on boot
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/qcom-battery/input_suspend
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chmod 0660 /sys/class/qcom-battery/input_suspend

    # Hide selinux status
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

# Sensors
service citsensor-hal-2-0 /odm/bin/hw/vendor.xiaomi.sensor.citsensorservice@2.0-service
    class late_start
    user system
    group system input
    override
    task_profiles ServiceCapacityLow
